@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,900;1,400;1,500;1,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #EEF1FF;
  border-radius: 0.625rem;
  margin-bottom: 6.25rem;
  margin-left: 3.125rem;
  margin-right: 3.125rem;
}

.container {
  min-height: 70vh;
  place-items: center;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 2.5rem;
}

.header-container h1 {
  display: flex;
  text-transform: capitalize;
  font-size: 2.5rem;
  color: #001253;
  letter-spacing: .25rem;
}

.nav-links ul {
  display: flex;
  list-style-type: none;
  gap: 1rem;
}
.nav-links li a {
  text-decoration: none;
  margin-right: 0.625rem;
  font-weight: bolder;
  font-style: italic;
  color: #001253;
  cursor: pointer;
}

.nav-links a:hover {
  color: rgb(143, 36, 125);
  transition: o.3s all linear;
}

.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#profile_img {
  background: url(./IMG_4711.JPG);
  border-radius: 275px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 6.25rem;
  height: 6.25rem;
  margin-bottom: 1.25rem;
}

.profile-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #eaecf0;
  border-radius: .5rem;
  background: #fff;
  margin-bottom: 1.5rem;
  padding: 1.5rem 2rem;
  gap: 8px;
  width: 73.25rem;
  height: 4.625rem;
  cursor: pointer;
}

.profile-links:hover {
  background: #18134e;
  transition: o.3s all linear;
}

.profile-links i {
  display: flex;
  align-items: center;
  text-align: center;
  color: rgb(30, 18, 136);
  margin: 0.313rem;
  font-weight: 600;
  font-size: 1rem;
  font-style: italic;
}
.profile-links #slack {
  visibility: hidden;
}
.profile-links #twitter {
  margin-top: 2.188rem;
}

.profile-links i:hover {
  color: #fff;
  transition: o.3s all linear;
}

.links {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#btn_zuri {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 1px solid #eaecf0;
  border-radius: 0.5rem;
  background: #fff;
  margin-bottom: 1.5rem;
  padding: 1.5rem 2rem;
  gap: 0.5rem;
  width: 73.25rem;
  height: 4.625rem;
  cursor: pointer;
}

#btn_zuri:hover {
  background: #18134e;
  color: #fff;
  transition: o.3s all linear;
}

#books {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 1px solid #eaecf0;
  border-radius: 0.5rem;
  background: #fff;
  margin-bottom: 1.5rem;
  padding: 1.5rem 2rem;
  gap: 0.5rem;
  width: 73.25rem;
  height: 4.625rem;
  cursor: pointer;
}

#books p {
  color: #E14D2A;
  font-size: 13px;
  font-style: italic;
}

#books:hover {
  background: #18134e;
  color: #fff;
  transition: o.3s all linear;
}

#books p:hover {
  color: #fff;
  transition: o.3s all linear;
}

#book_python {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 1px solid #eaecf0;
  border-radius: 0.5rem;
  background: #fff;
  margin-bottom: 1.5rem;
  padding: 1.5rem 2rem;
  gap: 0.5rem;
  width: 73.25rem;
  height: 4.625rem;
  cursor: pointer;
}

#book_python p {
  color: #E14D2A;
  font-size: 12px;
  font-style: italic;
}

#book_python:hover {
  background: #18134e;
  color: #fff;
  transition: o.3s all linear;
}

#book_python p:hover {
  color: #fff;
  transition: o.3s all linear;
}

#pitch {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 1px solid #eaecf0;
  border-radius: 0.5rem;
  background: #fff;
  margin-bottom: 1.5rem;
  padding: 1.5rem 2rem;
  gap: 0.5rem;
  width: 73.25rem;
  height: 4.625rem;
  cursor: pointer;
}
#pitch:hover {
  background: #18134e;
  color: #fff;
  transition: o.3s all linear;
}
#pitch p {
  color: #E14D2A;
  font-size: 12px;
  font-style: italic;
}
#pitch p:hover {
  color: #fff;
  transition: o.3s all linear;
}

#book_design {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 1px solid #eaecf0;
  border-radius: 0.5rem;
  background: #fff;
  margin-bottom: 1.5rem;
  padding: 1.5rem 2rem;
  gap: 0.5rem;
  width: 73.25rem;
  height: 4.625rem;
  cursor: pointer;
}
#book_design:hover {
  background: #18134e;
  color: #fff;
  transition: o.3s all linear;
}
#book_design p {
  color: #E14D2A;
  font-size: 0.813rem;
  font-style: italic;
}
#book_design p:hover {
  color: #fff;
  transition: o.3s all linear;
}
#contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 1px solid #eaecf0;
  border-radius: 0.5rem;
  background: #fff;
  margin-bottom: 1.5rem;
  padding: 1.5rem 2rem;
  gap: 0.5rem;
  width: 73.25rem;
  height: 4.625rem;
  cursor: pointer;
}
#contact:hover {
  background: #18134e;
  color: #fff;
  transition: o.3s all linear;
}